<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/home.css">
    <title>LetsTalkTech</title>
</head>

<body>
    <header id="home" class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark p-4 d-flex justify-content-center"
            style="background-color: rgb(128, 87, 87)">
            <div class="p-0">
                <div class="container-fluid d-flex justify-content-center">
                    <h2 style="color:rgba(255, 255, 255, 0.959)">LetsTalkTech</h2>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse form-inline" id="navbarMain">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item p-3">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        {{#unless logged_in}}
                        <li class="nav-item p-3">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        {{/unless}}
                        <li class="nav-item p-3">
                            <a class="nav-link logout-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="d-flex justify-content-center row m-0">
        {{{ body }}}
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</html>