<main class="d-flex justify-content-center row m-0">
    <section class="container my-5 post-container w-100 p-0 col-9 createSection">
        <div class="d-flex justify-content-between border-box text-center title-text p-2">
            <h3>Edit Post</h3>
        </div>
        <div class="my-4 p-2">
            <h4>Title</h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputTitle">
                </div>
                <h4>Content</h4>
                <div class="form-group">
                    <textarea class="form-control" id="inputContent" rows="4"></textarea>
                </div>
            </form>
             <div class="text-center">
                    <button type="submit" class="btn btn-secondary p-2 edit-btn" type="submit"><a href="#" style="color:white; text-decoration: none;"><h4>Update</h4></a></button>
                    <button type="submit" class="btn btn-secondary p-2 edit-btn" type="submit"><a href="#" style="color:white; text-decoration: none;"><h4>Delete</h4></a></button>
            </div>
        </div>
    </section>
</main>


{{!-- Create an Event.PrenventDefault event listener for the buttons when using the class "edit-btn" --}}