<section class="container my-5 post-container w-100 p-0 col-9">
    <div class="d-flex justify-content-between border-box text-center title-text p-2">
        <h3>Edit Post</h3>
    </div>
    <div class="my-4 p-2">
        <h4>Title</h4>
        <form class="postForm">
            <div class="form-group">
                <input type="text" class="form-control" id="inputTitle" data-id="{{post.id}}" value="{{post.title}}">
            </div>
            <h4>Content</h4>
            <div class="form-group">
                <textarea class="form-control" id="inputContent" rows="4">{{post.content}}</textarea>
            </div>
            <button type="button" class="btn btn-secondary w-100 mt-0 mb-3 updateBtn" type="submit"><a href="#"
                    style="color:white; text-decoration: none;">
                    <h5>Update Post</h5>
                </a></button>
            <button type="button" class="btn btn-secondary w-100 mt-0 deleteBtn" type="click"><a href="#"
                    style="color:white; text-decoration: none;">
                    <h5>Delete</h5>
                </a></button>
        </form>
    </div>
</section>

<script src="/js/edit.js"></script>