<section class="container my-5 post-container w-100 p-0 col-9">
    <div class="d-flex justify-content-between border-box text-center title-text p-2">
        <h3>Create New Post</h3>
    </div>
    <form id="postForm">
        <div class="my-4 p-2">
            <h4>Title</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="inputTitle">
            </div>
            <h4>Content</h4>
            <div class="form-group">
                <textarea class="form-control" id="inputContent" rows="4"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary p-2" style="color:white; text-decoration: none;"
                    type="submit">
                    <h4>Create</h4>
                </button>
            </div>
    </form>
    </div>
</section>
<script src="/js/newPost.js"></script>